.visible {
  display: block;
}
.hidden { 
  display: none;
}

.dropdown-title,
.dropdown-items-list {
  border: 1px solid black;
}
.dropdown-items-list {
  margin-top: 2px;
}
.dropdown-title:hover,
.dropdown-item:hover {
  background: rgb(115, 115, 232);
  cursor: pointer;
}